.content .content-header {
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000000;
}

    .content .content-header .account .account-area {
        display: flex;
    }

        .content .content-header .account .account-area .help-area a {
            width: 36px;
            height: 38px;
            background-image: url('../../Content/images/icon_help_18.png');
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            margin: 7px 0;
        }

            .content .content-header .account .account-area .help-area a:hover {
                background-image: url('../../content/images/icon-help-18-hover.png');
            }

        .content .content-header .account .account-area .notice-area a {
            width: 36px;
            height: 38px;
            background-image: url('../../Content/images/notify-18.png');
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            margin: 7px 0;
        }

            .content .content-header .account .account-area .notice-area a:hover {
                background-image: url('../../Content/images/notify-hover-18.png');
            }

        .content .content-header .account .account-area .call-area a {
            width: 36px;
            height: 52px;
            background-image: url('../../content/images/misasupport_1.png');
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            background-color: #07f;
        }
        .content .content-header .account .account-area .avatar-account{
            width: 32px;
            height: 100%;
            margin: 0px 5px;
        }
            .content .content-header .account .account-area .avatar-account a {
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                background-image: url('../../content/images/Image.jpg');
                background-position: center;
                display: block;
                margin: 10px 0px;
            }

        .content .content-header .account .account-area .trigger-account {
            display: flex;
        }
            .content .content-header .account .account-area .trigger-account .name-account{
                min-width: 100px;
                height: 100%;
                color: #000000;
            }
                .content .content-header .account .account-area .trigger-account .name-account a {
                    width: auto;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    margin: 18px 0;
                    text-decoration: unset;
                    font-weight: bold;
                    color: #000000;
                }

            .content .content-header .account .account-area .trigger-account .info-trigger-account a {
                width: 20px;
                height: 10px;
                background-image: url('../../content/images/arrow-down-line.png');
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                margin: 20px 0;
            }

            .content .content-header .account .account-area .trigger-account .info-trigger-account {
                width: 20px;
                height: 100%;
            }

        .content .content-header .account .account-area .more-area {
            border-left: 1px solid #c2c2c2;
            width: 36px;
            height: 100%;
        }
